# IntelijIdea Project Junk
.idea/
*.iml


# Eclipse Project Junk
.settings/
.project
.classpath
.vscode


# Build directories
/build/
/out/
/target/
/*/target/

# Dependencies
node_modules/


# Gradle meta
.gradle/


# Compiled things
*.class


# Other version control
.svn/

#
# Exported from svn:ignore
#
target
classes
.DS_Store
Load/ontology/script/~$aggregated_detection_template.xlsx
Load/ontology/script/~$cumulated_detection_template.xlsx
Load/ontology/script/~$non-raw_detection_template.xlsx
Load/ontology/script/~$raw_detection_template.xlsx
Load/ontology/script/~$lab_test_template_non-microbiology.xlsx
Load/ontology/General/promote/doc/~$promote_conversion - Children.xlsx
Load/ontology/General/promote/doc/~$promote_conversion-Mothers.xlsx

# backup files
*~
\#*
Load/ontology/Gates/PROVIDE/doc/~$PROVIDE_aggregated_detection_template.xlsx
Load/ontology/Gates/PROVIDE/doc/~$PROVIDE_lab_test_template_non-microbiology.xlsx
Load/ontology/Gates/PROVIDE/doc/~$PROVIDE_non-raw_detection_template.xlsx
Load/ontology/Gates/PROVIDE/doc/~$PROVIDE_raw_detection_template.xlsx
Load/ontology/harmonization/non-maled.owl
Load/ontology/query_results/allProjects_EuPathTermWithMultipleLabelsWithSource.csv
Load/ontology/query_results/allProjects_terms_sameLabelForMultipleTerms.csv
Load/ontology/query_results/allProjects_termWithMultipleLabelsWithSource.csv
Load/ontology/query_results/clinEpi_terms_sameLabelForMultipleTerms.csv
Load/ontology/query_results/clinEpi_termsWithMultipleParents.csv
Load/ontology/query_results/clinEpi_termWithMultipleLabelsWithSource.csv
Load/ontology/query_results/clinEpi_termWithMultipleLabelsWithSource2.csv
Load/ontology/query_results/provide_terms_sameLabelForMultipleTerms.csv
Load/ontology/script/test/mapveu.owl
Load/ontology/script/test/new_terms.csv
Load/ontology/script/test/new_terms.owl
Load/ontology/script/test/gates_maled_phase3_conversion.csv
Load/ontology/script/test/AmazoniaBrazil_conversion.csv
Load/ontology/script/test/gates_maled_phase3_conversion.csv
Load/ontology/script/test/gates_maled_phase3_conversion.csv
Load/ontology/script/test/gates_maled_phase3_conversion.csv
Load/ontology/script/test/terms_to_import.xlsx
Load/ontology/script/test/gates_maled_phase3_conversion.csv
Load/ontology/script/test/PROVIDE_conversion.csv
Load/ontology/script/test/VectorBase.csv
Load/ontology/script/test/VBtrap.csv
Load/ontology/script/test/promote_conversion-Mothers.csv
Load/ontology/script/test/PRISM2_conversion.csv
Load/ontology/ICEMR/india/catalog-v001.xml
Load/ontology/query_results/gates_vida_variableMappings.csv
Load/ontology/ICEMR/india_gujarat/catalog-v001.xml
Load/ontology/General/umsp/catalog-v001.xml
Load/ontology/ICEMR/india_meghalaya/catalog-v001.xml
Load/ontology/ICEMR/amazonia_brazil/catalog-v001.xml
Load/ontology/ICEMR/amazonia_peru/catalog-v001.xml
Load/ontology/Gates/LLINEUP/catalog-v001.xml
Load/ontology/ICEMR/southern_africa/catalog-v001.xml
Load/ontology/Gates/LLINEUP/catalog-v001.xml
Load/ontology/Gates/LLINEUP/catalog-v001.xml
Load/ontology/General/crompton/catalog-v001.xml
Load/ontology/Gates/GEMS/catalog-v001.xml
